<p-dialog [modal]="true" [draggable]="false" [focusOnShow]="false" [visible]="visible()" [style]="{ width: '25rem' }">

  <ng-template #header>
    <div class="flex items-center gap-2">
      <ng-icon class="text-xl" name="lucideLock" />
      <h3> Change Password </h3>
    </div>
  </ng-template>

  <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="flex flex-col gap-5">
    <app-input
      [id]="'currentPassword'"
      [label]="'Current Password'"
      [type]="'password'"
      formControlName="currentPassword"
      [control]="changePasswordForm.get('currentPassword')"
      [placeholder]="'******'"
      [errors]="{
        'required': 'currentPassword is required',
      }"
    />
    <app-input
      [id]="'newPassword'"
      [label]="'New Password'"
      [type]="'password'"
      formControlName="newPassword"
      [control]="changePasswordForm.get('newPassword')"
      [placeholder]="'******'"
      [errors]="{
        'required': 'newPassword is required',
        'minlength': 'newPassword must be at least 6 characters'
      }"
    />
    <div class="flex gap-2">
      <button type="button" class="btn-secondary w-full md:w-1/2" (click)="closeDialog()"> Cancel </button>
      <button type="submit" class="btn-primary w-full md:w-1/2">
        @if(isLoading()) {
          <ng-icon class="text-lg animate-spin mx-auto" name="lucideLoader" />
        } @else {
          Update Password
        }
      </button>
    </div>
  </form>

</p-dialog>
