<section class="flex h-screen">

  <div class="max-lg:hidden w-1/2 bg-[#1E1A4D]">
    <div class="flex flex-col gap-2 justify-center h-full p-10 xl:p-20">
      <h1 class="text-white font-medium text-4xl xl:text-5xl tracking-tight leading-tight">
        Employee <br /> Management System
      </h1>
      <p class="text-[#90A1B9] text-base xl:text-lg">
        Streamline your workforce operations, track attendance, manage payroll, and empower your team securely.
      </p>
    </div>
  </div>

  <main class="w-full lg:w-1/2">
    <router-outlet />
  </main>

</section>
