@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
}

::selection {
  background-color: var(--color-indigo-100);
  color: var(--color-indigo-900);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-slate-300);
  border-radius: 6px;
}

@layer components {
  .btn-primary {
    @apply bg-linear-to-r from-[#4F39F6] to-[#615FFF] text-white py-2.5 px-5 rounded-md cursor-pointer transition-all duration-300 hover:from-[#3d28de] hover:to-[#5957e4];
  }
  .btn-secondary {
    @apply text-slate-700 border border-slate-200 py-2.5 px-5 rounded-md cursor-pointer transition-all duration-300 hover:bg-slate-50;
  }
  .accept-btn {
    @apply bg-linear-to-r! from-[#4F39F6]! to-[#615FFF]! text-white! transition-all duration-300 hover:from-[#3d28de]! hover:to-[#5957e4]!
  }
  .reject-btn {
    @apply text-slate-700! bg-transparent! border! border-slate-200! transition-all duration-300 hover:bg-slate-50!;
  }
  .btn-download {
    @apply inline-flex items-center gap-1.5 bg-blue-50 py-1.5 px-3 rounded-sm text-[#155DFC] text-xs font-medium transition-all duration-300 hover:bg-blue-100 cursor-pointer;
  }
  .input {
    @apply w-full bg-[#F8FAFC80] border border-[#E2E8F0] rounded-md py-3 px-4;
  }
  .label {
    @apply block text-sm font-medium text-[#314158];
  }
  .badge-delete {
    @apply px-3 py-2 rounded-lg text-[#0F172B] bg-linear-to-r from-[#E0E7FF] to-[#F1F5F9] transition-all duration-300 hover:text-rose-600 cursor-pointer;
  }
  .badge-edit {
    @apply px-3 py-2 rounded-lg text-[#0F172B] bg-linear-to-r from-[#E0E7FF] to-[#F1F5F9] transition-all duration-300 hover:text-indigo-600 cursor-pointer;
  }
  .check {
    @apply bg-[#ECFDF5] text-[#009966] size-8 rounded-md cursor-pointer shadow-sm flex justify-center items-center;
  }
  .close {
    @apply bg-[#FFF1F2] text-[#EC003F] size-8 rounded-md cursor-pointer shadow-sm flex justify-center items-center;
  }
  .pending {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#FFFBEB] text-[#BB4D00];
  }
  .rejected {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#FFF1F2] text-[#C70036];
  }
  .approved {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#ECFDF5] text-[#007A55];
  }
  .present {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#ECFDF5] text-[#007A55];
  }
  .absent {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#FFF1F2] text-[#C70036];
  }
  .late {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#FFFBEB] text-[#BB4D00];
  }
  .fullDay {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#ECFDF5] text-[#007A55];
  }
  .threeQuarterDay {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#EFF6FF] text-[#2563EB];
  }
  .halfDay {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#FFF7ED] text-[#EA580C];
  }
  .shortDay {
    @apply py-1.5 px-2.5 rounded-md shadow-sm uppercase text-xs bg-[#FEF2F2] text-[#DC2626];
  }
}

.loader {
  color: #000;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
    -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
    -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
    -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
    -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
